In [1]:
import pandas as pd

df = pd.read_csv('/Users/mattmastin/Desktop/2017-Census-Tract-Data-Clean.csv')

In [2]:
columns = ['Service',
          'Production',
          'Unemployment',
          'MeanCommute',
          'Poverty',
          'Professional',
          'Income']

In [3]:
df = df[columns]

In [4]:
import category_encoders as ce
from joblib import dump, load
import numpy as np
from sklearn.pipeline import make_pipeline
from xgboost import XGBRegressor

X = df.drop(columns='Income')
y = df['Income']

pipeline = make_pipeline(XGBRegressor(n_estimators=1000, n_jobs=-1))

pipeline.fit(X, y)
dump(pipeline, 'pipeline.joblib')

df.to_csv('Census-Data-Small-Pipeline.csv', index=False)

In [5]:
df.describe()

,Service,Production,Unemployment,MeanCommute,Poverty,Professional,Income
count,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000,72718.000000
mean,18.847948,12.922312,7.224917,26.080334,16.046724,35.553813,61119.999326
std,7.969609,7.592511,5.099419,7.095680,12.428643,15.038790,30511.062580
min,0.000000,0.000000,0.000000,4.200000,0.000000,0.000000,2692.000000
25%,13.300000,7.200000,3.900000,21.100000,6.900000,24.700000,40380.000000
50%,17.700000,11.800000,6.000000,25.400000,12.600000,33.300000,54413.000000
75%,23.200000,17.500000,9.000000,30.300000,21.800000,44.800000,74688.000000
max,70.900000,60.500000,62.800000,73.900000,100.000000,92.200000,249750.000000